:root{
    --cor-de-fundo: 
    --
}

body { 
    background-color: var(--cor-de-fundo);

    font-family:  "Edu NSW ACT fundation", cursive;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal; 
}
    
img { 
     width: 10%
    }

    header { 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .maquiagem { 
              width: 20%;
    }          

    .introducao { 
        display: flex;
    }

    .cr { 
        display: flex;
     }
    .introducao{     display: flex;
     margin: 20px 0 0 0;
     padding: 20px;
     background-color: deeppink;
     border-radius: 19px;
     border: 3px solid rebeccapurple}

     .equipe{ 
         display: grid;
         grid-template-columns: 50% 50% 50%
         text-align: center;
    }

