
body {
    font-family: Arial, sans-serif;
}
 
cabecalho {
    background-color: #ff149146;
    color: rgb(240, 248, 255);
    padding: 20%;
    text-align: center
}

nav ul {
    list-style: none;
}

nav ul li a {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

#banner {
    background-color: beige;
    text-align: end;
}

#services {background-color: indianred;
text-align: center;
}



